:root {
    /* Primary Colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral Colors */
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    /* Font */
    --poppins: 'Poppins';
}

body {
    margin: 6rem 2rem;
    font-family: var(--poppins);
}

.first-content {
    margin-bottom: 6rem;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--very-dark-blue);
}

.text {
    font-size: .95rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

.box {
    padding: 1rem 2rem 7rem 2rem;
    box-shadow: 0px 15px 15px -5px var(--grayish-blue);
    border-radius: 4px;
    margin: 2rem 0;
    max-height: 7rem;
}

.box__title {
    font-size: 1.25rem;
    line-height: .5rem;
    color: var(--very-dark-blue);
}

.box__text {
    font-size: .8rem;
    color: var(--grayish-blue);
}

.box1 {
    border-top: solid 4px var(--cyan);
    background-image: url(../images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-position: 85% 80%;
}

.box2 {
    border-top: solid 4px var(--red);
    background-image: url(../images/icon-team-builder.svg);
    background-repeat: no-repeat;
    background-position: 85% 80%;
}

.box3 {
    border-top: solid 4px var(--orange);
    background-image: url(../images/icon-karma.svg);
    background-repeat: no-repeat;
    background-position: 85% 80%;
}

.box4 {
    border-top: solid 4px var(--blue);
    background-image: url(../images/icon-calculator.svg);
    background-repeat: no-repeat;
    background-position: 85% 80%;
}

@media screen and (min-width: 1024px) {
    body {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 10% 1fr 1fr 1fr 10%;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        ". content content content ."
        ". . box2 . ."
        ". box1 box2 box4 ."
        ". box1 box3 box4 ."
        ". . box3 . .";
    }

    .first-content {
        display: grid;
        grid-area: content;
    }
}